<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.firstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rating_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Email" />
        <activity android:name=".Demo_RatingBar">

        </activity>
        <activity android:name=".Demo_RatingBar1" />
        <activity android:name=".Demo_ProgressBar"></activity>
        <activity android:name=".Demo_Form" />
        <activity android:name=".Demo_Activity_Life" />
        <activity android:name=".Demo_RelativeLayout" />
        <activity android:name=".Demo_CustomToast">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>